# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# MongoDB data if running locally
/data/db
